<h1> Show All the arms </h1>

<%= link_to "Create new arm", new_arm_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Limit</th>
  </tr>
  <% @arms.each do |arm| %>
    <tr>
      <td><%= arm.id %></td>
      <td><%= arm.name %></td>
      <td><%= arm.limit %></td>
      <td><%= link_to "Edit Arm", edit_arm_path(arm.id) %></td>
      <td><%= link_to "Delete", method: :delete %></td>
      <td><%= link_to "Participants", arm_participants_path(arm.id) %></td>
      </ br>
    </tr>
  <% end %>
</table>