%h1 New Arm
- if @arm.errors.present?
  %ul
    - @arm.errors.full_messages.each do |error|
      %li= error
= form_with(model: @arm, local: true) do |f|
  %p
    = f.label 'Name'
    = f.text_field :name
  %p
    = f.label 'Limit'
    = f.text_field :limit
  = f.submit 'Create'