<h1> Show All the Participants </h1>

<%= link_to "Create new participant", new_participant_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.id %></td>
      <td><%= participant.name %></td>
      <td><%= participant.age %></td>
      <td><%= participant.gender %></td>
      <td><%= link_to "Edit Participant", edit_participant_path(participant.id) %></td>
      <td><%= link_to "Delete", participant, method: :delete %></td>
      </ br>
    </tr>
  <% end %>
</table>